[run]
source = Symbols
relative_files = True
branch = True

[paths]
source =
    Symbols/
    /home/runner/work/SonarQubeCourse/SonarQubeCourse/Symbols/
    /workspaces/SonarQubeCourse/Symbols/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[xml]
output = coverage.xml
relative_files = True
